.icon-container{
    display: flex;
    justify-content: space-around;
}
.data-container{
    padding: 10px;
}
ion-content{
    align-items: center;
}
.scan-content{
  --background: rgb(75,86,210);
  --background: linear-gradient(0deg, rgba(102,112,215,1) 0%, rgba(95,75,170,1) 26%, rgba(88,40,127,1) 100%);
}
.icon-qrs{
    width: 100%;
    height: auto;
    filter: invert(100%)!important;
}
.text-data{
    color: #c3c3c3;
    font-size: medium;
}
.button-scan{
 --background: #472183!important;
 width: 80%!important;
}
.mb-0{
    margin-bottom: 0px!important;
}
.button-tab{
 --background: rgba(102,112,215,1)!important;
 height: 50px!important;
 text-transform: capitalize;
 font-weight: 700;
}