<ion-content [fullscreen]="true" class="p-4">
  <div class="ion-align-items-center w-100 mt-5">

    <div class="mt-4" style="background: #256D85!important; margin: 10px; color:black!important; padding:10px; border-radius:10px">
      <ion-label class="text-white text-center text-tittle"><h2 class="text-tittle">Iniciar Sesion</h2></ion-label>
      <form class="mt-2" >
        <ion-grid>
          <ion-row class="text-white ion-justify-content-center">
            <ion-col size="12">
                <ion-label><ion-icon name="people-outline"></ion-icon>Usuario</ion-label>
                <ion-input type="text"></ion-input>
            </ion-col>
          </ion-row>
  
          <ion-row class="text-white ion-justify-content-center">
            <ion-col size="12">
                <ion-label>Contraseña</ion-label>
                <ion-input type="password"></ion-input>
            </ion-col>
          </ion-row>
  
          <ion-row class="text-white ion-justify-content-center">
            <ion-col size="auto">
                <ion-button>ingresar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
    
  </div>
</ion-content>
