<ion-content [fullscreen]="true" class="p-4 login">
  <div class="ion-align-items-center w-100 container">

    <div class="form-container">
      <div class="icon-container">
        <ion-icon class="w-50 text-center" name="lock-open-outline"></ion-icon>
      </div>
      
      <ion-label class="text-white text-left w-50 text-tittle"><h2 class="text-tittle border-text">Inicio de Sesión</h2></ion-label>
      <form [formGroup]="form" class="form-inner">
        <ion-grid>
          <ion-row class="text-white ion-justify-content-center ion-align-items-center">
            <ion-col size="12">
                <ion-label><ion-icon class="mr-1" name="people-outline"></ion-icon>Usuario</ion-label>
                <ion-input (input)="check()" formControlName="user" name="user" type="text"></ion-input>
            </ion-col>
          </ion-row>
  
          <ion-row class="text-white ion-justify-content-center mt-1">
            <ion-col size="12">
                <ion-label><ion-icon class="mr-1" name="lock-closed-outline"></ion-icon> Contraseña</ion-label>
                
                <ion-input (input)="check()" formControlName="password" name="password" type="password"></ion-input>
            </ion-col>
          </ion-row>
  
          <ion-row class="text-white ion-justify-content-center mt-2">
            <ion-col size="auto">
                <ion-button [disabled]="!valid" class="button1  w-100" (click)="onSubmit($event)">ingresar</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="errors!=null" class="text-white ion-justify-content-center">
            <ion-col size="auto">
                <p class="text-center">{{errors}}</p>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>
    </div>
    
  </div>
</ion-content>
